body {
    font-family:Helvetica;
}
header {
    background: skyblue;
    text-align:center;
    padding:5%;
}
div#renderer {
    width: 640px;
    height: 640px;
    border:2px solid black;
}
div#colorBtnList {
    display:flex;
    flex-wrap:wrap;
}
button.colorBtn {
    border:2px solid black;
    border-radius:10px;
    width:50px;
    height:50px;
    margin:1px;
    /* padding:10px 0px 0px 0px; */
    transition: 0.5s;
}
/* button.colorBtn p {
    margin:5px;
} */
button.colorBtn:hover {
    border:4px solid black;
}
button.selectedColorBtn {
    border:4px solid rgb(27, 110, 198);
    color:rgb(57, 57, 57);
}